<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta charset="utf-8"/>
<meta name="google-site-verification" content="InKSCysfjf15fY1ji3576RDzIAJTOa69AZr8q6fB37Q" />
<title>IoTの世界としての#{groupword}から#{Title}</title>
<meta name="description" content="Kmrweb Dot NetはIoTに関連する幅広い情報を紹介しています。このページでは#{description}"/>
<meta name="keywords" content="IoT, #{groupword}, #{keyword}" />
<meta name="author" content="#{author}"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="msvalidate.01" content="3B125FB93A0DEEC51196AA37F386F13A" />
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" href="/css/main.css"/>
<style cms-css="yes"> </style>
<link rel="alternate" hreflang="ja" href="http://www.kmrweb.net#{url}">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="/favicon.ico"/>
<meta name="mobile-web-app-capable" content="yes"/>
<link rel="apple-touch-icon" sizes="152x152" href="/image/appleicon.png"/>
</head>
<body>
<a href="#Content" style="display: none">ヘッダをスキップし本文へ</a>
<nav id="navbar" class="Pc" pos="Under" cms-parts="navbar"> </nav>
<header pos="Parallax">
  <img class="PhotoF" src="/image/#{image}" zoom=0.95 gravityX=0.6 gravityY=0.6 alt="ヘッダ画像"/>
</header>
<h1 pos="Remain">
  <img id="Menu" class="Depend" src="" pc="/image/title.png" mobile="/image/menu.png"/>#{Title}
</h1>
<nav id="Posbar" pos="Remain"> </nav>

<main>
  <div id="Content" cms-page="BODY"> </div>
  <div id="Side" cms-parts="menu"> </div>
</main>

<footer cms-parts="foot"> </footer>
</body>
</html>
