/*
*
*         Navigation Bar
*
*/

#navbar ul li {
  display: inline; float: left;
  margin: 0 10px;
}

#navbar ul li a {
  font-size: %{fontS}; color: #{navColor};
}

#navbar .now a {
  color: %{select};
}


/* */
h1 {
  line-height: 40px;
  letter-spacing: .02em;
  color: %{text}; background-color: %{dark};
}

#Menu {
  padding: 6px;
}


#Posbar {
  line-height: 24px;
  overflow: hidden; background-color: %{dark};
}

#Posbar ul li {
  display: inline; float: left;
  padding: 0 10px;
  background: url(/image/bg_dummy.png) repeat-x bottom left;
}

#Posbar ul li a {
  font-size: %{fontS}; color: %{text}; 
}

#Posbar .now {
  background: url(/image/bg_guide.png) repeat-x bottom left;
}




/*
*
*           Main
*
*/
main {
  position: absolute; top: 0; left: 0;
  width: 100%; 
  display: block;
  background-color: %{back};
}


#Content {
}

section {
  padding: 20px 10px 50px 20px;
}

.topic {
  padding: 15px 0px 40px 10px;
  overflow: hidden; clear: both;
}


/* */
.photoL {
  padding: 10px;
}

.photoM {
  padding: 10px; float: left;
}

.photoU {
  margin: 9px; float: left;
  border: 1px solid #e0e0e0;
}
/* */
.source {
    counter-reset: line;
}
.source dt {
  line-height: 24px; margin: 10px 0 0 10px; padding: 6px;
  font-size: 18px; color: %{text};
  background-color: %{dark};
  border-radius: 5px 5px 0 0;
}
.source dd {
  line-height: 18px; font-size: 13px;
  margin: 0 0px 0 10px;
  font-family:"Osaka−等幅","ＭＳ ゴシック","monospace";
  overflow: hidden; border: solid 1px;
  color: %{dark};
  border-radius: 0 0 5px 5px;
}
.source dd p {
  padding: 0;
  counter-increment: line;
  white-space: nowrap;
}
.source dd p:before {
  content: counter(line) '　'; text-align: right;
  display: block; float: left; color: %{text};
  width: 39px; background-color: %{medium};
}

/* */
.caption {
  margin: 10px 0 10px 10px;
}
.caption dt {
  line-height: 12px; padding: 3px 10px;
  font-size: %{fontSS}; color: %{letter}; text-align: center;
}

/* */
.command {
  margin: 10px 0 10px 10px;
}
.command dt {
  line-height: 12px; padding: 3px 10px;
  font-size: %{fontSS}; color: %{letter}; text-align: right;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.command dd {
  line-height: 24px; padding: 0px 10px 10px 36px;
  font-size: %{fontS};
  background-color: #ffffff; color: %{letter};
  border-radius: 0 0 5px 5px;
}
.command .zone{
  line-height: 24px; padding: 0px 10px 10px 10px;
}

/* */
.boxed {
  margin: 10px 0 10px 10px;
  clear: both;
}
.boxed dt {
  line-height: 12px; padding: 3px 10px;
  font-size: %{fontSS}; color: %{letter}; text-align: right;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.boxed dd {
  line-height: 24px; padding: 0px 10px 10px 10px;
  font-size: %{fontS};
  background-color: #ffffff; color: %{letter};
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}


/* */
.step {
  margin: 10px 0 10px 10px;
}
.step dt {
  line-height: 12px; padding: 3px 10px;
  font-size: %{fontSS}; color: %{letter}; text-align: right;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.step dd {
  padding: 0px 10px 10px 10px;
  background-color: #ffffff; color: %{letter};
  border-radius: 0 0 5px 5px;
}
.step li {
  line-height: 24px;
  font-size: %{fontS};
  list-style-type: decimal; list-style-position: inside;
}

/* */
.howto {
  margin: 10px 0 10px 10px;
}
.howto dd {
  line-height: 16px; padding: 12px 10px;
  font-size: %{fontM}; color: %{dark}; font-weight: bold;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.howto dt {
  line-height: 16px; padding: 12px 10px;
  font-size: %{fontM};
  background-color: #ffffff; color: %{letter};
  border-radius: 0 0 5px 5px;
}
.howto dt p {
  line-height: 16px;
  padding: 0;
  font-size: %{fontM};
}

/* */
.expla {
  margin: 10px 0px 10px 10px;
}
.expla table {
  width: 100%; margin: 0; border-spacing: 0;
}
.expla table tr {
  background: #ffffff;
}
.expla table th {
  padding: 10px 10px; line-height: 200%;
  color: %{text}; font-weight: bold;
  border-left:1px solid %{dark}; border-top:1px solid %{dark}; border-bottom:1px solid %{dark};
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  background: %{dark};
} 
.expla table th:first-child {
  border-radius: 5px 0 0 0;
}
.expla table th:last-child {
  border-radius:0 5px 0 0; border-right:1px solid %{dark};
}
.expla table tr td {
  padding: 5px 10px;
  border-bottom: 1px solid %{light}; border-left: 1px solid %{light};
}
.expla table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.expla table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.expla dt{
  line-height: 12px; padding: 3px 10px;
  font-size: %{fontS}; color: %{letter};
  text-align: center;
  border: 0;
}

/* */
.manual {
  margin: 10px 0 10px 10px;
}
.manual dt {
  line-height: 18px; padding: 3px 10px;
  font-size: %{fontM}; color: %{letter};
  background-color: #f5f5f5;
  border: 1px solid %{light}; border-radius: 5px 5px 0 0;
}
.manual table {
  width: 100%; margin: 0; border-spacing: 0;
}
.manual table tr td {
  padding: 5px 10px;
  border-bottom: 1px solid %{light}; border-right: 1px solid %{light};
  text-align: left;
}
.manual table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
.manual table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.manual table td:first-child {
  width: 30%; border-left: 1px solid %{light};
}

.num {
  text-align: right;
}
/* */
#Side {
  width: 180px; padding: 20px 10px;
  background-color: %{light};
  display: block;
}

#Side ul li {
  padding: 0 0 0 20px; background: url(/image/bg_menu.png) no-repeat top left;
}

#Side ul li a {
  line-height: 20px;
  margin: 25px auto;
}

#Side a, #menu a:visited {
  color: %{text};
}

#Side a:hover, #menu a:target {
  color: %{hover};
}

#Side .now a {
  color: %{select};
}

#Side .snsblock {
  margin: 5px; padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#Side .snsblock ul li {
  padding: 5px 0;
  background: none;
}

/*
*
*         Footer
*
*/
.pc {
  width: 100%; 
  z-index: 10001;
  background-color: %{dark}; color: %{text};
}

.pc dl {
  margin: 0; padding: 0 10px 10px 10px;
}

.pc #FTlabel {
  /* padding: 10px 0; */
  line-height: 36px;
  overflow: hidden; cursor: pointer;
}

.pc .toolbox {
  float: right;
  height: 36px;
}

.pc .toolbox img {
  height: 36px; width: 36px;
}

.pc dl dd {
  overflow: hidden;
}

.pc .Folding dl{
  width: 250px;
  background: url(/image/bg_ftunit.png) repeat-y; 
  display: inline; float: left;
}

.pc .Folding dl dt {
  line-height: 14px; padding: 6px 10px;
  color: %{text};
  background: url(/image/bg_none.png) no-repeat bottom left;
}

.pc li {
  line-height: 14px; padding: 2px 10px 2px 20px;
  font-size: %{fontS}; color: %{text};
  background: url(/image/bg_menu.png) no-repeat top left;
}

.pc a {
  text-decoration: none; color: %{back}
}

.pc .now {
  color: %{select};
}

.pc a:hover {
  text-decoration: none; color: %{select}
}

/* */
.mobile {
  width: 80%; 
  z-index: 10001;
  background-color: %{dark}; color: %{text};
}

.mobile dl {
  margin: 0; padding: 0 10px 10px 10px;
}

.mobile #FTlabel {
  padding: 10px 0;
  line-height: 24px;
}

.mobile .toolbox {
  display: none;
}

.mobile dl dd {
  overflow: hidden;
}

.mobile .Folding dl {

}

.mobile .Folding dl dt {
  line-height: 24px; padding: 0 10px 0 18px;
  color: %{text};
  background: url(/image/bg_close.png) no-repeat bottom left;
}

.mobile li {
  line-height: 24px; padding: 5px 10px 0 20px;
  font-size: %{fontS}; color: %{text};
  background: url(/image/bg_menu.png) no-repeat bottom left;
}

.mobile a {
  text-decoration: none; color: %{back}
}

.mobile .now {
  color: %{select};
}

.mobile a:hover {
  text-decoration: none; color: %{select}
}

#Tipup {
  line-height: 24px; padding: 5px 10px;
  font-size: %{fontM}; color: %{dark}; font-weight: bold;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#Elevate {
  background-color: %{light};
  padding: 20px 10px;
  line-height: 18px;
}
